/* Base Application Styles */
/*body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}*/

.majorLine {
  stroke: black;
  stroke-width:1;
  fill:none;
  stroke-linejoin:round;
}

.minorLine {
  stroke: #939598;
  stroke-width:.3;
  fill:none;
}

.SVGLogo {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.logoLayer_3 {
}

.logoLayer_2 {
  transform: translate(21.7px, 0px)
}

.logoLayer_1 {
  transform: translate(0px, 0px)
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}