/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*logo*/
.majorLine {
  /*stroke: #00C8C8;*/
  stroke-width:3;
  fill:none;
  stroke-linejoin:round;
}

.minorLine {
  /*stroke: black;*/
  stroke-width:.5;
  fill:none;
}

.SVGLogo {
  padding-top: 10px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

.logoLayer_3 {
}

.logoLayer_2 {
  transform: translate(21.7px, 0px)
}

.logoLayer_1 {
  transform: translate(0px, 0px)
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myName {
  font: 100 10px Lato;
  color: cyan;
  padding-top: 50px;
}

.nav {
  position: fixed;
  height: 100%;
  width: 5%;
  background-color: white;
  border-right: .5px grey;
}

/*.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  color: white;
}*/

/*.nav li {
  font: 100 12px Lato;
  padding-left: 10px;
  padding-right: 10px;
}*/

.hero {
  background-image: url("../images/wood-texture.jpg");
  background-size: cover;
  height: 730px;
}

.invisiblePanel {
  position: fixed;
  height: 100%;
  width: 5%;
}

.menuBtn {
  transform: translate(-50%, 0);
  position: absolute;
  width: 40%;
  height: auto;
  left: 50%;
  top: 9%;
  cursor: pointer;
}

.projects {
  background-color: #f2f2f2;
  height: 1000px;
}